# Ověření pro studenty

Studenti SSPŠ by se měli ověřit pomocí školního Microsoft účtu. Pro ověření užijte tlačítka pod touto zprávou. V případě problémů neváhejte kontaktovat admina <@663768372168753152>.
